<!--MDB Tables-->
<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-body" style="background-color: #d7c4f640;">
            <div class="card text-center">
                <div class="card-header">
                    <h4>Ödeme Başarılı </h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ödeme Başarılı </h5>
                    <p class="card-text"> Kullandığınız Kredi Kartı bilgilerini kaydetmek İster misiniz.</p>
                    <a href="#" class="btn btn-primary">Kaydet</a>
                    <a href="#" style="margin-left: 10px;" class="btn btn-danger">Hayır Kaydetme</a>

                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-outline-dark"> Anasayfaya git</button>

                </div>
            </div>



        </div>
    </div>
</div>
<!--MDB Tables-->